In [ ]:
# Sample Project 1

# Problem Statement

# Analyze the Federal Aviation Authority dataset using Pandas 
# and complete the following tasks

# 1. View:
#   Aircraft manufacturer
#   State
#   Aircraft Model
#   Text inormation
#   Flight Phase
#   Event description type
#   Fatal Flag

# 2. Clean the dataset and replace fatal flag NaN with No
# 3. Find teh different types of aircrafts and their occurences in the dataset
# 4. Remove all observations where the aircraft names are not available
# 5. Display observation where Fatal flag is Yes

# Credits: Simplilearn - Data Science with Python

In [1]:
import pandas as pd

In [4]:
#importing dataset
df_faa_dataset = pd.read_csv("/faa_ai_prelim.csv")

In [5]:
# shape of the dataset to see the number of observations
df_faa_dataset.shape

(83, 42)

In [ ]:
# view first 5 observations
df_faa_dataset.head()

In [8]:
# view columns present in dataset
df_faa_dataset.columns

Index(['UPDATED', 'ENTRY_DATE', 'EVENT_LCL_DATE', 'EVENT_LCL_TIME',
       'LOC_CITY_NAME', 'LOC_STATE_NAME', 'LOC_CNTRY_NAME', 'RMK_TEXT',
       'EVENT_TYPE_DESC', 'FSDO_DESC', 'REGIST_NBR', 'FLT_NBR', 'ACFT_OPRTR',
       'ACFT_MAKE_NAME', 'ACFT_MODEL_NAME', 'ACFT_MISSING_FLAG',
       'ACFT_DMG_DESC', 'FLT_ACTIVITY', 'FLT_PHASE', 'FAR_PART', 'MAX_INJ_LVL',
       'FATAL_FLAG', 'FLT_CRW_INJ_NONE', 'FLT_CRW_INJ_MINOR',
       'FLT_CRW_INJ_SERIOUS', 'FLT_CRW_INJ_FATAL', 'FLT_CRW_INJ_UNK',
       'CBN_CRW_INJ_NONE', 'CBN_CRW_INJ_MINOR', 'CBN_CRW_INJ_SERIOUS',
       'CBN_CRW_INJ_FATAL', 'CBN_CRW_INJ_UNK', 'PAX_INJ_NONE', 'PAX_INJ_MINOR',
       'PAX_INJ_SERIOUS', 'PAX_INJ_FATAL', 'PAX_INJ_UNK', 'GRND_INJ_NONE',
       'GRND_INJ_MINOR', 'GRND_INJ_SERIOUS', 'GRND_INJ_FATAL', 'GRND_INJ_UNK'],
      dtype='object')

In [11]:
# creating dataframe with only the required columns
df_analyze_dataset = df_faa_dataset[['ACFT_MAKE_NAME', 'LOC_STATE_NAME',  'ACFT_MODEL_NAME',
                                     'RMK_TEXT','FLT_PHASE','EVENT_TYPE_DESC','FATAL_FLAG']]

In [12]:
type(df_analyze_dataset)

pandas.core.frame.DataFrame

In [13]:
df_analyze_dataset.head()

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,NaN
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,NaN
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,NaN
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,NaN

In [14]:
df_analyze_dataset['FATAL_FLAG'].fillna(value="No", inplace=True)

/usr/local/lib/python3.7/dist-packages/pandas/core/generic.py:6392: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return self._update_inplace(result)

In [16]:
df_analyze_dataset.head()

,ACFT_MAKE_NAME,LOC_STATE_NAME,ACFT_MODEL_NAME,RMK_TEXT,FLT_PHASE,EVENT_TYPE_DESC,FATAL_FLAG
0,BEECH,North Carolina,36,"AIRCRAFT CRASHED INTO TREES, THE 1 PERSON ON B...",UNKNOWN (UNK),Accident,Yes
1,VANS,Florida,RV7,AIRCRAFT ON LANDING WENT OFF THE END OF THE RU...,LANDING (LDG),Incident,No
2,CESSNA,New Jersey,172,"AIRCRAFT ON FINAL SUSTAINED A BIRD STRIKE, LAN...",APPROACH (APR),Incident,No
3,LANCAIR,North Carolina,235,"AIRCRAFT ON LANDING, GEAR COLLAPSED, ASHEVILLE...",LANDING (LDG),Incident,No
4,CESSNA,Alaska,172,"AIRCRAFT ON LANDING, NOSE GEAR COLLAPSED, TALK...",LANDING (LDG),Incident,No

In [17]:
df_analyze_dataset.shape

(83, 7)

In [19]:
# Removing observations where aircraft name is not available
df_final_dataset = df_analyze_dataset.dropna(subset=['ACFT_MAKE_NAME'])

In [20]:
df_final_dataset.shape

(78, 7)

In [21]:
# grouping dataset by aircraft name
aircraftType = df_final_dataset.groupby('ACFT_MAKE_NAME')

In [ ]:
aircraftType.size()

In [24]:
# grouping data by Fatal Flag
fatalAccidents = df_final_dataset.groupby('FATAL_FLAG')
fatalAccidents.size()

FATAL_FLAG
No     71
Yes     7
dtype: int64

In [ ]:
# selecting accidents with fatal flag yes
accidents_with_fatality = fatalAccidents.get_group('Yes')
accidents_with_fatality